In [1]:
# 18/03/2025
# print()
print("Hey, It's Minal")

Hey, It's Minal

In [4]:
print('Welcom to Keerti Institute')

Welcom to Keerti Institute

In [8]:
print("'Welcom to Keerti Institute'")
print('"Hey, It is Minal."')

'Welcom to Keerti Institute'
"Hey, It is Minal."

In [12]:
# vriable
Number = 7
print('This is number',Number)

This is number 7

In [13]:
Name = "Minal"
Age = 25
Height = 5

print("My Name is",Name)
print("My Age is",Age)
print("My Height is",Height)

My Name is Minal
My Age is 25
My Height is 5

In [14]:
# input
Name = input('Enter Your Name')
Age = input('Enter Your Age')
Height = input('Enter Your Height')

print("My Name is",Name)
print("My Age is",Age)
print("My Height is",Height)

Enter Your Name Minal
Enter Your Age 25
Enter Your Height 5

My Name is Minal
My Age is 25
My Height is 5

In [ ]:
# int()
# float()
# str()

Name = str(input('Enter Your Name'))
Age = int(input('Enter Your Age'))
Height = float(input('Enter Your Height'))

print("My Name is",Name)
print("My Age is",Age)
print("My Height is",Height)

In [1]:
# 20/03/2025
# Arithmetic Operators

x = 100
y = 52

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** 2)

152
48
5200
1.9230769230769231
1
48
10000

In [2]:
# Comparison Operators

print(40 < 34)
print(42 > 34)
print(23 == 42)
print(40 != 34)
print(40 <= 34)
print(40 >= 34)

False
True
False
True
False
True

In [3]:
# Logical Operators

# and
print(67 == 67 and 78 < 100) 
# or 
print(30 == 67 or 78 < 100) 
# not 
print( not 34 == 34)

True
True
False

In [4]:
# Assignment Operators
a = 15 
print(a)

# a = a + 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

15
25
15
150
15.0

In [5]:
# Identity Operators

#is 
a = 10
b = 20
print(a is b)
# is not
print(a is not b)

False
True

In [6]:
# Membership Operators
web = " Welcome to keerti institute"
print('c' in web)
print('c' not in web)

True
False

In [7]:
# if else
a = 20 
b = 88

# find the smallest values 

if a < b :
    print("a is smallest")
else:
    print("a is not smallest ...")

a is smallest

In [12]:
a = 35
b = 37
c = 40

if a < b and a < c:
    print(' a is smallest')
elif b < a and b < c:
    print(" b is smallest")
else:
    print(' c is smallest')

 a is smallest